<form [formGroup]="employeeForm" (ngSubmit)="onFormSubmit(employeeForm.value)" #formDir="ngForm">
  
  <table class="formcontrols">

    <tr>
      <td>
        <label class=" control-label col-md-12" for="id">
        Employee ID
          <b style="color:red;font-weight:bold;font-size:larger">*</b>
        </label>
      </td>
      <td style="padding-left:10px;padding-bottom:10px;padding-top:10px">
        <input class="form-control" type="number" formControlName="id" min ="1" (input)="onSearchChange()" ng-model="idValue">
        <span class="text-danger" *ngIf="employeeForm.hasError('required', 'id') && formDir.submitted">
          Employee Id is required.
        </span>
      </td>
    </tr>

    <tr>
      <td>
        <label for="Test"></label>
      </td>
      <td style="padding-left:10px;padding-bottom:10px;padding-top:10px">
        <button type="submit" [disabled]="employeeForm.hasError('required', 'id')">Read</button>
        <p *ngIf="!dataread" style="color:red;font-weight:bold" Class="text-danger" align="left">
          {{message}}
        </p>
      </td>
    </tr>
  </table>

  <table>
    <tr>
      <td>
        <label class=" control-label col-md-12" for="FirstName">First Name</label>
      </td>
      <td style="padding-left:10px;padding-bottom:10px;padding-top:10px">
        <input class="form-control" type="text" formControlName="FirstName" id="FirstName" readonly>
      </td>
    </tr>

    <tr>
      <td>
        <label class="control-label col-md-12" for="LastName">Last Name</label>
      </td>
      <td style="padding-left:10px;padding-bottom:10px;padding-top:10px">
        <input class="form-control" type="text" formControlName="LastName" id="LastName" readonly>
      </td>
    </tr>

    <tr>
      <td>
        <label class="control-label col-md-12" for="Email">Email</label>
      </td>
      <td style="padding-left:10px;padding-bottom:10px;padding-top:10px">
        <input class="form-control" type="text" formControlName="Email" readonly>
      </td>
    </tr>

    <tr>
      <td>
        <label class="control-label col-md-12" for="City">Phone</label>
      </td>
      <td style="padding-left:10px;padding-bottom:10px;padding-top:10px">
        <input class="form-control" type="text" formControlName="PhoneNumber" data-val="true" readonly>
      </td>
    </tr>

    <tr>
      <td>
        <label class="control-label col-md-12" for="Gender">Gender</label>
      </td>
      <td style="padding-left:10px;padding-bottom:10px;padding-top:10px"> 
        <select class="form-control" data-val="true" formControlName="Gender" readonly>
          <option value="">-- Select Gender --</option>
          <option value="Male">Male</option>
          <option value="Female">Female</option>
        </select>
      </td>
    </tr>
  </table>
</form>

